body {
  font-family: Montserrat, sans-serif;
  background-color: #4c631d;
  color: white;
  margin: 0;
}

header {
  height: 53px;
  line-height: 53px;
  font-family: Opensans, sans-serif;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  font-size: 14px;
  display: inline;
  margin: 0 10px;
}

header a {
  color: black;
}

header a:hover {
  color: gray;
}

#photo {
  text-align: center;
  padding: 20px;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin: 30px auto;
}

.profile-pic img {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgray;
}

#gh-link img,
#tg-link img,
#email img {
  height: 50px;
  width: 50px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  letter-spacing: 5px;
}

h2 {
  font-weight: lighter;
}

#about-p {
  text-align: left;
  font-size: 20px;
  margin: 50px;
  padding: 10px 10%;
  line-height: 2;
}

#about-me {
  text-align: center;
}

#about-me-h {
  font-weight: lighter;
  letter-spacing: 3px;
}

.content {
  display: flex;
}

.left-side {
  width: 50%;
  padding: 10px;
}

.right-side {
  width: 40%;
  padding: 30px;
}

.right-side img {
  width: 450px;
  height: 550px;
}

#arrow-top,
#arrow-about,
#arrow-skills {
  text-align: center;
  margin: 40px auto;
  padding: 0;
}


#skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills .app-icon {
  width: 100px;
  height: 100px;
}

#skills .rating-icon {
  width: 152px;
  height: 24px;
}

#skills span {
  font-size: 30px;
  margin: 10px 0;
}

#skills-list li {
  margin: 5%;
}

.name-project {
  font-weight: 300;
  text-align: center;
  font-size: 28px;
}

.description-project {
  font-size: 20px;
  margin: 10px;
  padding: 0;
}

#projects .project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px;
}

#projects article {
  flex: 1 1 45%;
  margin: 10px;
}

#projects .project-img-film {
  display: block;
  margin: auto;
  width: 500px;
  height: 300px;
}

#projects .project-img-tree {
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
}
